[Unit]
Description=EZ-Torrent
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/home/pi/.nvm/versions/node/v16.20.2/bin/node /home/pi/Documents/GitHub/ez-torrent/https.mjs
WorkingDirectory=/home/pi/Documents/GitHub/ez-torrent
EnvironmentFile=/home/pi/Documents/GitHub/ez-torrent/.env
User=pi

Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target