[Unit]
Description=EZ-Torrent
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/home/byte/.nvm/versions/node/v20.14.0/bin/node /home/byte/Documents/GitHub/ez-torrent/.output/server/index.mjs
WorkingDirectory=/home/byte/Documents/GitHub/ez-torrent
EnvironmentFile=/home/byte/Documents/GitHub/ez-torrent/.env
User=byte

Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target